.main .allAboutContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "about expLevel"
    "uses expLevel"
    "certifications expLevel"
    "testimonial testimonial";
    max-width: 1700px;

    margin: 0 auto  ;
}

.main .allAboutContainer .about{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.5rem .5rem;
    /* for picture */
    overflow: hidden;


    grid-area: about;
}
.main .allAboutContainer .about .leftAbout{
    max-width: 900px;
    align-self: flex-start;
}
.main .allAboutContainer .about .leftAbout >h2{
    font-size: 26px;
    color: #00adb5;
     margin-bottom: 1rem;
     font-family: var(--castoro);
     font-weight: 500;
     text-align: center;
}
.main .allAboutContainer .about .leftAbout >p{
font-size: 16px;
color: #eeeeee;
font-family: var(--sans);
word-break: break-word;
padding: .9rem;
line-height: 3rem;
max-width: 900px;
}

.main .allAboutContainer .about .rightAbout{
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}
.main .allAboutContainer .about .rightAbout >img{
    transition: 1s linear;
    height: 100%;
    width: 100%;
    max-width: 320px;
    max-height: 366px;
   border-radius: 2rem;
   cursor: pointer;
}






/* about uses CSS */
.main .allAboutContainer .aboutUses {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem 2rem 2rem;
        grid-area: uses;
}



.main .allAboutContainer .aboutUses >h2{
    font-size: 26px;
    color: #00adb5;
    font-weight: 500;
    font-family: var(--castoro);
    width: 100%;
    max-width: 1400px;
    text-align: center;
    margin-top: 2rem;
}






.main .allAboutContainer .aboutUses .backend,
.others{
    min-width: 200px;
}

/* for all h3 */
.main .allAboutContainer .aboutUses .frontend >h3,
.main .allAboutContainer .aboutUses .backend >h3{
    font-size: 18px;
    color: #eeeeee;
    display: flex;
    font-family: var(--castoro);
}
.main .allAboutContainer .aboutUses .others >h3{
    font-size: 23px;
    color: #eeeeee;
    display: flex;
    font-family: var(--castoro);
}

/* for all p */
.main .allAboutContainer .aboutUses >div >div p{
    color: #eeeeee;
    font-size: 14px;
    font-family: var(--sans);

}
/* layout for all and indention for all div */
.main .allAboutContainer .aboutUses >div >div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin-left: 1rem;
    margin-top: .5rem;
}



/* for frontend */
.main .allAboutContainer .aboutUses .frontend >div >p{
    background: #273122;
    padding: .6rem;
    border-radius: .5rem;
}

/* for backend */
.main .allAboutContainer .aboutUses .backend >div >p{
    background: #262231;
    padding: .6rem;
    border-radius: .5rem;
}

/* for others */
.main .allAboutContainer .aboutUses .others >div >p{
    background: #312e22;
    padding: .6rem;
    border-radius: .5rem;
}





/* Certifications */
.main .allAboutContainer .certifications{
    padding: 0 2rem 2rem 2rem;;
    grid-area: certifications;
    z-index: 1000000000000;
    margin-top: 2rem;
}

.main .allAboutContainer .certifications >h3 .certificateIcon{
    margin-right: .3rem;
}

.main .allAboutContainer .certifications >h3{
    margin-bottom: 1rem;
    font-size: 18px;
    color: #eeeeee;
    display: flex;
    font-family: var(--castoro);
        font-family: var(--castoro);
}
.main .allAboutContainer .certifications .certificates{
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem 2rem 2rem;
}

   

.main .allAboutContainer .certifications .certificates >a{
    background: #603159;
    padding: .6rem;
    border-radius: .5rem;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}
.main .allAboutContainer .certifications .certificates >a:hover{
    opacity: .7;
}
.main .allAboutContainer .certifications .certificates >a h2{
   margin-bottom: .3rem;
       font-family: var(--castoro);
}

.main .allAboutContainer .certifications .certificates >a p{ 
    font-family: var(--sans);
}
.main .allAboutContainer .certifications .certificates >a h2,p{
    color: #fff;
    font-size: 14px;
}















/* for about experience */
.main .allAboutContainer .aboutExperience{
    height: 100%;
    background: #222831;
    padding: 2rem 1.2rem 2rem 1.2rem;
    border-radius: 2rem;
    

    grid-area: expLevel;
}
.main .allAboutContainer .aboutExperience >h2{
    font-size: 26px;
    color: #00adb5;
    font-weight: 500;
    margin-bottom: 2.3rem;
     font-family: var(--castoro);
     text-align: center;
}




/* expe level */
.main .allAboutContainer .aboutExperience .expLevel{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    gap: 4.5rem;
    margin-top: 5rem;
}
.main .allAboutContainer .aboutExperience .expLevel >div{
    background: transparent;
    box-shadow: -3px 0px 27px -11px rgba(0,173,181,0.75);
    -webkit-box-shadow: -3px 0px 27px -11px rgba(0,173,181,0.75);
     -moz-box-shadow: -3px 0px 27px -11px rgba(0,173,181,0.75);
    height: 100%;
    max-height: 30rem;
    width: 100%;
    max-width: 500px;
    padding: 1rem .5rem 2rem .5rem;
    position: relative;
}



.main .allAboutContainer .aboutExperience .expLevel >div >small{
    position: absolute;
    top: -2.5rem;
    left: 1rem;
    font-size: .8rem;
    border: 1px solid #00adb54a;
    border-radius: 1rem;
    padding: 5px;
    color: #00adb5;
    font-family: var(--castoro);
}



/* current experience div style */
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
 
  #current::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

#current::before{
    background: transparent;
    box-shadow: -3px 0px 20px 10px rgba(0,173,181,0.75);
    -webkit-box-shadow: -3px 0px 20px 10px rgba(0,173,181,0.75);
     -moz-box-shadow: -3px 0px 20px 10px rgba(0,173,181,0.75);
     content: "";
     background: linear-gradient(
       45deg,
       #FF0000, #FF7300, #FFFB00, #48FF00,
       #00FFD5, #002BFF, #FF00C8, #FF0000
     );
     position: absolute;
     top: -2px;
     left: -2px;
     background-size: 600%;
     z-index: -1;
     width: calc(100% + 4px);
     height:  calc(100% + 4px);
     filter: blur(8px);
     animation: glowing 20s linear infinite;
     transition: opacity .3s ease-in-out;
     border-radius: 10px;
}










.main .allAboutContainer .aboutExperience .expLevel >div::after{
    content: "";
    background: #00adb54a;
    height: 4.5rem;
    width: .3rem;
    position: absolute;
    top: -4.4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
}

/* dot */
.main .allAboutContainer .aboutExperience .expLevel >div::before{
    content: "";
    background: #00adb54a;
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation: dotVib 1s cubic-bezier(0,0,.2,1)  infinite;
}
/* remove after and before of latest */
.main .allAboutContainer .aboutExperience .expLevel >div:nth-child(5)::before,
.main .allAboutContainer .aboutExperience .expLevel >div:nth-child(5)::after{
    display: none;
}


@keyframes dotVib{
    from{}
    to{
        opacity: 0;
        height: 1.3rem;
        width: 1.3rem;
    }
}


.main .allAboutContainer .aboutExperience .expLevel >div >h3{
    color: #00adb5;
    font-size: 1.6rem;
    font-family: var(--castoro);
    font-weight: 800;
}
.main .allAboutContainer .aboutExperience .expLevel >div >h4{
    font-size: 1rem;
    color: #eeeeee8a;
    background: #00acb528;
    font-family: var(--castoro);
    font-weight: 400;
    text-indent: 1rem;
    margin-top: .4rem;
    padding: .3rem .1rem;
    text-align: center;
}
.main .allAboutContainer .aboutExperience .expLevel >div >p{
    color: #00acb5ba;
    font-size: 16px;
    margin-top: 1.5rem;
    font-family: var(--sans);
    text-align: center;
}
/* grades style*/
.main .allAboutContainer .aboutExperience .expLevel >div >p .grades{
    color: #eeeeeeb6;
}
/* diploma style */
.main .allAboutContainer .aboutExperience .expLevel >div >p .coc{
    color: #eeeeeeb6;
}



















/* says about me */
.main .allAboutContainer .saysAboutMe{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 5rem .5rem 2rem .5rem;
    max-width: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    grid-area: testimonial;

    position: relative;
}

.main .allAboutContainer .saysAboutMe >h2{
    font-size: 26px;
    color: #00adb5;
    font-family: var(--castoro);
    font-weight: 500;
    padding-bottom: 2.3rem;
    text-align: center;
    margin-top: 4rem;
}

/* animation slide keyframes */
@keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

.main .allAboutContainer .saysAboutMe #scroll{
    gap: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    animation: slide 30s linear infinite;
    max-width: 1600px;
    margin: 0 auto;
}

.main .allAboutContainer .saysAboutMe:before,
.main .allAboutContainer .saysAboutMe:after {
  position: absolute;
  bottom: 2rem;
  width: 100px;
  height: 60%;
  content: "";
  z-index: 2;
}


.main .allAboutContainer .saysAboutMe:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #222831);
  }
  
.main .allAboutContainer .saysAboutMe:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #222831);
  }




/* pause animation if hover */
  .main .allAboutContainer .saysAboutMe #scroll:hover {
    animation-play-state: paused;
  }

 




.main .allAboutContainer .saysAboutMe >#scroll >div{
    height: 27rem;
    width: 100%;
    max-width: 21rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: relative;
    overflow: auto;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0px 21px 17px -8px rgba(0,173,181,0.55);
    -webkit-box-shadow: 0px 21px 17px -8px rgba(0,173,181,0.55);
    -moz-box-shadow: 0px 21px 17px -8px rgba(0,173,181,0.55);
    padding: .2rem .5rem;
    position: relative;
}
.main .allAboutContainer .saysAboutMe >#scroll >div .date{
    position: absolute;
    color: #00adb5;
    top: .5rem;
    left: .6rem;
    z-index: 10000;
}



.main .allAboutContainer .saysAboutMe >#scroll >div:hover{
    background: #00acb548;   
    transform: translateY(-5px);
}
.main .allAboutContainer .saysAboutMe >#scroll >div >span{
    height: 2rem;
    width: 100%;
    position: relative;
    background: #222831;
    box-sizing: content-box;
}
.main .allAboutContainer .saysAboutMe >#scroll >div >span >i{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    background: #efefef;
    border-radius: 50%;
    padding: 1rem 1.2rem;
    border: 12px solid #00adb5;
    color: #222831;
}
.main .allAboutContainer .saysAboutMe >#scroll >div >h3{
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    word-break: break-word;
    width: 100%;
    font-family: var(--sans);
    font-weight: 800;
}

/* prof <a> */
.main .allAboutContainer .saysAboutMe >#scroll >div >a{
    color: #eeeeee;
    text-decoration: none;
    position: absolute;
    top: .5rem;
    right: .5rem;
    border: 1px solid #eeeeee;
    background: #eeeeee;
    padding: 3px;
    color:#222831;
    font-weight: bold;
    font-family: var(--sans);
    border-radius: .2rem;
    font-size: 12px;
}


.main .allAboutContainer .saysAboutMe >#scroll >div >p{
    margin-top: 9rem;
    font-size: 14px;
    font-family: var(--sans);
    color: #eeeeee;
    word-break: break-word;
    overflow-y: auto;
    font-weight: 400;
}


/* end of testimonials */
.main .allAboutContainer .saysAboutMe >#scroll .end >span{
    height: 100%;
}
.main .allAboutContainer .saysAboutMe >#scroll .end >span .endArrow{
    color: #eeeeee;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}








/* media for about Use */
@media screen and (max-width: 990px){

    /* put flex-wrap and flex-start */
    .main .allAboutContainer .aboutUses {
        flex-wrap: wrap;
        justify-content: flex-start;  
    }

    /*  reset aboutRight  margin  */
        .main .allAboutContainer .about .rightAbout{
        padding-top: 0;
    }


    /* decrease shadow left & right from saysAboutMe slider */
    .main .allAboutContainer .saysAboutMe:before,
.main .allAboutContainer .saysAboutMe:after {
  width: 20px;
}


}




@media screen and (min-width: 769px){
    .main .allAboutContainer .aboutExperience .expLevel >div{
        max-height: 17rem;
    }
}





@media screen and (max-width: 768px){

        /* new layout of all about */
    

    .main .allAboutContainer{
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-template-areas: 
    "about"
    "expLevel"
    "uses"
    "certifications"
    "testimonial";
    max-width: 1700px;

    margin: 0 auto  ;
    gap: 7rem;
}



  /* new layout of about */
    .main .allAboutContainer .about{
       flex-direction: column-reverse;
    }


    /* reset */
    .main .allAboutContainer .saysAboutMe{
        padding-top: 0;
    }


  

}


@media screen and (max-width: 675px){


    
    
 
  
 
    /* text indent unset */
    .main .allAboutContainer .aboutExperience .expLevel >div >h3,
    .main .allAboutContainer .aboutExperience .expLevel >div >h4,
    .main .allAboutContainer .aboutExperience .expLevel >div >small{
        text-indent: 0;
    }



    /* about Experience decrease indention/margin */
    .main .allAboutContainer .aboutExperience{
        padding: 3rem .5rem 2rem 1rem;
    }
    /* set center h2 */
    .main .allAboutContainer .aboutExperience >h2{
        text-align: center;
    }




}






/* for project date */
@media screen and (max-width: 300px){
    .main .allAboutContainer .saysAboutMe >#scroll >div .date{
        font-size: .6rem;
    }


    .main .allAboutContainer .about .leftAbout >h2{
        font-size: 25px;
    }
    


 



    
    .main .allAboutContainer .aboutExperience .expLevel >div:nth-child(5) >small >div{
        font-size: .7rem !important;
    }
    


}





