.main .aboutUsesSubAndExpLevel{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr auto;
    grid-template-areas: 
    "about expLevel"
    "uses expLevel"
    "testimonial testimonial";
    max-width: 1700px;

    margin: 0 auto  ;
}

.main .about{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1.5rem .5rem;
    /* for picture */
    overflow: hidden;
    /* max-width: 2500px; */

    grid-area: about;
}
.main .about .leftAbout{
    max-width: 900px;
    align-self: flex-start;
}
.main .about .leftAbout >h2{
    font-size: 26px;
    color: #00adb5;
     margin-bottom: 1rem;
     font-family: var(--castoro);
     font-weight: 500;
     text-align: center;
}
.main .about .leftAbout >p{
font-size: 16px;
color: #eeeeee;
font-family: var(--sans);
word-break: break-word;
padding: .9rem;
line-height: 3rem;
max-width: 900px;
}

.main .about .rightAbout{
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}
.main .about .rightAbout >img{
    transition: 1s linear;
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 466px;
   border-radius: 2rem;
   cursor: pointer;
}






/* about uses CSS */
.main .aboutUses {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem 2rem 2rem;
        grid-area: uses;
}



.main .aboutUses >h2{
    font-size: 26px;
    color: #00adb5;
    font-weight: 500;
    font-family: var(--castoro);
    width: 100%;
    max-width: 1400px;
    text-align: center;
    margin-top: 2rem;
}






.main .aboutUses .backend,
.others{
    min-width: 200px;
}

/* for all h3 */
.main .aboutUses  .frontend >h3,
.main .aboutUses  .backend >h3{
    font-size: 23px;
    color: #eeeeee;
    display: flex;
    font-family: var(--castoro);
}
.main .aboutUses  .others >h3{
    font-size: 23px;
    color: #eeeeee;
    display: flex;
    font-family: var(--castoro);
}

/* for all p */
.main .aboutUses  >div >div p{
    color: #eeeeee;
    font-size: 16px;
    font-family: var(--sans);

}
/* layout for all and indention for all div */
.main .aboutUses  >div >div{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin-left: 1rem;
    margin-top: .5rem;
}



/* for frontend */
.main .aboutUses  .frontend >div >p{
    background: #273122;
    padding: .6rem;
    border-radius: .5rem;
}

/* for backend */
.main .aboutUses  .backend >div >p{
    background: #262231;
    padding: .6rem;
    border-radius: .5rem;
}

/* for others */
.main .aboutUses  .others >div >p{
    background: #312e22;
    padding: .6rem;
    border-radius: .5rem;
}







/* for about experience */
.main .aboutExperience{
    height: 100%;
    background: #222831;
    padding: 2rem 1.2rem 2rem 1.2rem;
    border-radius: 2rem;

        grid-area: expLevel;
}
.main .aboutExperience >h2{
    font-size: 26px;
    color: #00adb5;
    font-weight: 500;
    margin-bottom: 2.3rem;
     font-family: var(--castoro);
     text-align: center;
}




/* expe level and certificate cards */
.main .aboutExperience .expLevel{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 4.5rem;
    margin-top: 5rem;
}
.main .aboutExperience .expLevel >div{
    background: transparent;
    box-shadow: -3px 0px 27px -11px rgba(0,173,181,0.75);
    -webkit-box-shadow: -3px 0px 27px -11px rgba(0,173,181,0.75);
     -moz-box-shadow: -3px 0px 27px -11px rgba(0,173,181,0.75);
    height: 100%;
    max-height: 40rem;
    width: 100%;
    max-width: 500px;
    padding: 1rem .5rem 2rem .5rem;
    position: relative;
}



.main .aboutExperience .expLevel >div >small{
    position: absolute;
    top: -2.5rem;
    left: 1rem;
    font-size: .8rem;
    border: 1px solid #00adb54a;
    border-radius: 1rem;
    padding: 5px;
    color: #00adb5;
    font-family: var(--castoro);
}



/* current experience div style */
@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
  }
 
  #current::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

#current::before{
    background: transparent;
    box-shadow: -3px 0px 20px 10px rgba(0,173,181,0.75);
    -webkit-box-shadow: -3px 0px 20px 10px rgba(0,173,181,0.75);
     -moz-box-shadow: -3px 0px 20px 10px rgba(0,173,181,0.75);
     content: "";
     background: linear-gradient(
       45deg,
       #FF0000, #FF7300, #FFFB00, #48FF00,
       #00FFD5, #002BFF, #FF00C8, #FF0000
     );
     position: absolute;
     top: -2px;
     left: -2px;
     background-size: 600%;
     z-index: -1;
     width: calc(100% + 4px);
     height:  calc(100% + 4px);
     filter: blur(8px);
     animation: glowing 20s linear infinite;
     transition: opacity .3s ease-in-out;
     border-radius: 10px;
}




/* custom style for 4th div small and div child(Certification div) */
/* .main .aboutExperience .expLevel >div:nth-child(5) >small{
    font-size: 2rem;
    left: 50%;
    transform: translateX(-50%);
    top: -2.5rem;
    border: 0;
}
.main .aboutExperience .expLevel >div:nth-child(5) >small div{
font-size: 1rem;
text-align: center;
} */





.main .aboutExperience .expLevel >div::after{
    content: "";
    background: #00adb54a;
    height: 4.5rem;
    width: .3rem;
    position: absolute;
    top: -4.4rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1rem;
}

/* dot */
.main .aboutExperience .expLevel >div::before{
    content: "";
    background: #00adb54a;
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: -5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation: dotVib 1s cubic-bezier(0,0,.2,1)  infinite;
}
/* remove after and before of latest */
.main .aboutExperience .expLevel >div:nth-child(6)::before,
.main .aboutExperience .expLevel >div:nth-child(6)::after{
    display: none;
}


@keyframes dotVib{
    from{}
    to{
        opacity: 0;
        height: 1.3rem;
        width: 1.3rem;
    }
}


.main .aboutExperience .expLevel >div >h3{
    color: #00adb5;
    font-size: 1.6rem;
    font-family: var(--castoro);
    font-weight: 800;
}
.main .aboutExperience .expLevel >div >h4{
    font-size: 1rem;
    color: #eeeeee8a;
    background: #00acb528;
    font-family: var(--castoro);
    font-weight: 400;
    text-indent: 1rem;
    margin-top: .4rem;
    padding: .3rem .1rem;
    text-align: center;
}
.main .aboutExperience .expLevel >div >p{
    color: #00acb5ba;
    font-size: 16px;
    margin-top: 1.5rem;
    font-family: var(--sans);
    text-align: center;
}
/* grades style*/
.main .aboutExperience .expLevel >div >p .grades{
    color: #eeeeeeb6;
}
/* diploma style */
.main .aboutExperience .expLevel >div >p .coc{
    color: #eeeeeeb6;
}








/* hidden class of swiper set z-index */
.main .aboutExperience .expLevel .certi{
    z-index: inherit;
    margin: 2rem 0;
}



.main .aboutExperience .expLevel .certi .SwiperSlide  >img{
    height: 100%;
    width: 100%;
    max-height: 350px;
    max-width: 500px;
}











/* says about me */
.main .saysAboutMe{
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 5rem .5rem 2rem .5rem;
    max-width: 2500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    grid-area: testimonial;
}

.main .saysAboutMe >h2{
    font-size: 26px;
    color: #00adb5;
    font-family: var(--castoro);
    font-weight: 500;
    padding-bottom: 2.3rem;
    text-align: center;
    margin-top: 4rem;
}

/* animation slide keyframes */
@keyframes slide {
    from {
      transform: translateX(100vw);
    }
    to {
      transform: translateX(-5000px);
    }
  }

.main .saysAboutMe #scroll{
    gap: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation: 45s slide infinite linear;
    max-width: 1600px;
    margin: 0 auto;
}

.main .saysAboutMe:before,
.main .saysAboutMe:after {
  position: absolute;
  bottom: 2rem;
  width: 100px;
  height: 60%;
  content: "";
  z-index: 2;
}


.main .saysAboutMe:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #222831);
  }
  
.main .saysAboutMe:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #222831);
  }





  .main .saysAboutMe #scroll:hover {
    animation-play-state: paused;
  }

 




.main .saysAboutMe >#scroll >div{
    height: 27rem;
    width: 100%;
    max-width: 21rem;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    position: relative;
    overflow: auto;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0px 21px 17px -8px rgba(0,173,181,0.55);
    -webkit-box-shadow: 0px 21px 17px -8px rgba(0,173,181,0.55);
    -moz-box-shadow: 0px 21px 17px -8px rgba(0,173,181,0.55);
    padding: .2rem .5rem;
    position: relative;
}
.main .saysAboutMe >#scroll >div .date{
    position: absolute;
    color: #00adb5;
    top: .5rem;
    left: .6rem;
    z-index: 10000;
}



.main .saysAboutMe >#scroll >div:hover{
    background: #00acb548;   
    transform: translateY(-5px);
}
.main .saysAboutMe >#scroll >div >span{
    height: 2rem;
    width: 100%;
    position: relative;
    background: #222831;
    box-sizing: content-box;
}
.main .saysAboutMe >#scroll >div >span >i{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
    background: #efefef;
    border-radius: 50%;
    padding: 1rem 1.2rem;
    border: 12px solid #00adb5;
    color: #222831;
}
.main .saysAboutMe >#scroll >div >h3{
    position: absolute;
    top: 6.5rem;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    word-break: break-word;
    width: 100%;
    font-family: var(--sans);
    font-weight: 800;
}

/* prof <a> */
.main .saysAboutMe >#scroll >div >a{
    color: #eeeeee;
    text-decoration: none;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    border: 1px solid #eeeeee;
    background: #eeeeee;
    padding: 3px;
    color:#222831;
    font-weight: bold;
    font-family: var(--sans);
    border-radius: .2rem;
}


.main .saysAboutMe >#scroll >div >h3 >a{
    text-decoration: none;
}
.main .saysAboutMe >#scroll >div >h3 >a >i{
    color: #eeeeee;
    margin-right: .2rem;
    font-size: 1.4rem;
    transition: 1s;
    position: absolute;
    right: 1rem;
    top: -6.2rem;
}
.main .saysAboutMe >#scroll >div:hover >h3 >a >i{
    transform: rotate(360deg);
}
.main .saysAboutMe >#scroll >div:hover >h3 >a >i:hover{
    transform: translateY(-2px);
}

.main .saysAboutMe >#scroll >div >p{
    margin-top: 9rem;
    font-size: 1.1rem;
    font-family: var(--sans);
    color: #eeeeee;
    word-break: break-word;
    overflow-y: auto;
    font-weight: 400;
}








/* media for about Use */
@media screen and (max-width: 990px){

    /* put flex-wrap and flex-start */
    .main .aboutUses {
        flex-wrap: wrap;
        justify-content: flex-start;  
    }

    /*  reset aboutRight  margin  */
        .main .about .rightAbout{
        padding-top: 0;
    }


    /* decrease shadow left & right from saysAboutMe slider */
    .main .saysAboutMe:before,
.main .saysAboutMe:after {
  width: 20px;
}


}










@media screen and (max-width: 768px){

        /* new layout of all about */
    

    .main .aboutUsesSubAndExpLevel{
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
    "about"
    "expLevel"
    "uses"
    "testimonial";
    max-width: 1700px;

    margin: 0 auto  ;
    gap: 7rem;
}



  /* new layout of about */
    .main .about{
       flex-direction: column-reverse;
    }


    /* reset */
    .main .saysAboutMe{
        padding-top: 0;
    }


  

}


@media screen and (max-width: 675px){


    
    
 
  
 
    /* text indent unset */
    .main .aboutExperience .expLevel >div >h3,
    .main .aboutExperience .expLevel >div >h4,
    .main .aboutExperience .expLevel >div >small{
        text-indent: 0;
    }



    /* about Experience decrease indention/margin */
    .main .aboutExperience{
        padding: 3rem .5rem 2rem 1rem;
    }
    /* set center h2 */
    .main .aboutExperience >h2{
        text-align: center;
    }

    /* make certificate container responsive */
    .main .aboutExperience .expLevel .certiCon {
     position: relative; 
     width: 100vw; 
     max-width: 600px; 
}


}






/* for project date */
@media screen and (max-width: 300px){
    .main .saysAboutMe >#scroll >div .date{
        font-size: .6rem;
    }


    .main .about .leftAbout >h2{
        font-size: 25px;
    }
    


 



    
    .main .aboutExperience .expLevel >div:nth-child(5) >small >div{
        font-size: .7rem !important;
    }
    


}





