.main footer{
    height: 5rem;
    width: 100%;
    padding: 2rem .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
       background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='30' height='30' patternTransform='scale(1) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(216, 18%, 16%, 1)'/><path d='M0 22.5h30v15H0zm15-15h30v15H15m-30-15h30v15h-30zm15-15h30v15H0z'  stroke-width='1.5' stroke='hsla(183, 91%, 37%, 0.11)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(-32,-22)' fill='url(%23a)'/></svg>");
    height: 100%;
    width: 100%;
}
.main footer #c{
    color: #eeeeee;
    font-size: 20px;
    font-family: var(--castoro);
    word-wrap: break-word;
}
.main footer a >i{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: #eeeeee;
    font-size: 2rem;
    cursor: pointer;
}